<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>JINX (sign up)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/static/fonts/linearicons/style.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/css/style.css">
		<script>
			function redirecttosignup() {
			  window.location.href="http://localhost:8000";  
			}
		  </script>
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="">
					<img src="/static/images/wolf1.png" alt="" id="logo1">
					<h3>WELCOME TO JINX!</h3>
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="username" placeholder="Username" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" name ="email" placeholder="Mail" required>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" placeholder="Password" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="confirm" placeholder="Confirm Password" required>
					</div>
					<button type="submit">
						<span>Register</span>
					</button>
					{% with errors = get_flashed_messages(category_filter=["warning"]) %}
						{% if errors %}
							{%- for message in errors %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<span class="invalid">{{ message }}</span>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor -%}
						{% endif %}
					{% endwith %}
				</form>
				
			</div>

		</div>
	</body>
</html>
