<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>JINX (sign up)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/static/fonts/linearicons/style.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="">
					<img src="/static/images/wolf1.png" alt="" id="logo1">
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="username" placeholder="Username" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" placeholder="Mail" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Confirm Password" required>
					</div>
					<button>
						<span>Register</span>
					</button>
				</form>
			</div>

		</div>
	</body>
</html>
